/* 清空預設 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 清空預設 */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 預設圖片尺寸 */
* > img, *::before > img, *::after > img {
    width: 100;
    max-width: 100%;
    height: auto;
    max-height: 100vh;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(93, 109, 126);
    font-size: 12px;
}

/* 背景 */
.wallpaper {
    width: 100%;
    height: 100vh;
    background: #654ea3;
    background: -webkit-linear-gradient(to top, #eaafc8, #654ea3);
    background: linear-gradient(to top, #eaafc8, #654ea3);
}

/* 自界文字樣式 */
.introTxt {
    font-size: 2.5rem;
}

.linkTxt {
    font-size: 1.3rem;
}

/* 連結樣式 */
.linkstyle {
    text-decoration: none;
}

/* 手機: 768px以下 */
@media (max-width: 768px) {
    .introphoto {
        min-width: 300px !important;
        max-width: 400px !important;
    }
    .introTxt {
        font-size: 2.0rem;
    }
    .linkTxt {
        font-size: 1.2rem;
    }
}

/* 平板: 768px~992px */
@media (min-width: 768px) and (max-width: 992px) {
    .introphoto {
        min-width: 400px !important;
        max-width: 430px !important;
    }
    .introTxt {
        font-size: 2.3rem;
    }
}

/* 普通電腦: 992px~1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    .introphoto {
        min-width: 430px !important;
        max-width: 450px !important;
    }

    /* .introTxt {
        font-size: 2.0rem;
        font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600))); 
    } */
}

/* 高級電腦: 1200px以上 */
@media (min-width: 1200px) {
    .introphoto {
        max-width: 450px !important;
    }
}