* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(93, 109, 126);
}

.wallpaper {
    width: 100%;
    height: 100vh;
    background: #654ea3;
    background: -webkit-linear-gradient(to top, #eaafc8, #654ea3);
    background: linear-gradient(to top, #eaafc8, #654ea3);
}

.myphoto {
    width: 100% !important;
    max-width: 400px !important;
}

.linkstyle {
    text-decoration: none;
}

.introTxt {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
}

.introTxt {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px; 
}